@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-gray-700/50;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  .animate-scroll-reverse {
    animation: scroll 30s linear infinite reverse;
  }

  .animation-paused {
    .animate-scroll,
    .animate-scroll-reverse {
      animation-play-state: paused;
    }
  }
}

* {
  @apply border-gray-800;
}

@layer utilities {
  .grid-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
      linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 10px 10px, 10px 10px, 50px 50px, 50px 50px;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }
}

:root {
  @apply flex justify-center min-h-[100svh] h-fit text-gray-200/90;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 13.25px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color-tailwind: 13 146 244;
  --primary-color-hex: #0d92f4;
  --primary-color-rgb: 13, 146, 244;
}

html {
  @apply bg-primary/[0.04] grid-bg;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in;
}

.custom-scroll {
  animation: fadeIn 0.2s ease-in;
  @apply bg-primary/30 rounded-xl;
}

.custom-card {
  .custom-card-img {
    @apply transition-all;
  }

  &:hover {
    .custom-card-img {
      @apply scale-110;
    }
  }
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
